body{background-color:pink;}
p{olor:green;font-family:Arial;}
h1{olor:purple;font-family:Aharoni;}
h3{olor:blue;font-family:Garamond;}

ul{list-style-type:lower-roman; 
   color:yellow;
   font-family:"Iskoola Pota";
  }
